<!DOCTYPE html>
<html>
  <head>
    <title>StimulusMap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <script type="text/javascript" charset="utf-8" src="https://map.yahooapis.jp/js/V1/jsapi?appid=<%=ENV['YAHOO_JAPAN_ID']%>""></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
